[run]
branch = True
source =
    backgammon
omit =
    backgammon/tests/*
    backgammon/cli/cli.py
    backgammon/core/exceptions.py
    **/__pycache__/*
    .venv/*
    venv/*
    env/*
    backgammon/__init__.py
    backgammon/core/__init__.py

[report]
show_missing = True
omit =
    backgammon/tests/*
    backgammon/cli/cli.py
    backgammon/core/exceptions.py
    **/__pycache__/*
    .venv/*
    venv/*
    env/*
    backgammon/__init__.py
    backgammon/core/__init__.py
